<main>
  <h1 class='title'>Список товарів</h1>
  <section>
    {{#with data.products}}
      {{#if isEmpty}}
        <mark>Список пустий</mark>
      {{else}}
        <ul class='card'>
          {{#each list}}
            <li class='product-card'>
              <h4 class='product-card__title'>{{name}}</h4>
              <p
                class='product-card__description'
              >{{description}}</p>
              <div class='product-card__id'>ID:
                {{id}}</div>
              <div
                class='product-card__price'
              >Ціна:{{price}}грн</div>

              <a
                href='/product-edit?id={{id}}'
                class='product-card__edit'
              >Редагувати</a></li>
          {{/each}}
        </ul>
      {{/if}}
    {{/with}}
  </section>

</main>